<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" th:action="@{/add/save}"
th:object="${adder}"
      method="post"
>
<fieldset>
  <input type="submit" id="submitButton" th:value="Save">
  <input type="reset" id="resetButton" name="reset" th:value="Reset">
</fieldset>

    <table>

        <tbody>
        <tr>
            <td> <input type="text" th:name="title"/></td>
            <td> <input type="text" th:name="releaseDate"/></td>
            <td> <input type="text" th:name="genre"/></td>
            <td> <input type="text" th:name="description"/></td>
            <td> <input type="text" th:name="media"/></td>
            <td> <input type="text" th:name="languages"/></td>

        </tr>


        </tbody>

    </table>





</form>
</body>
</html>