<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">

    <title>Main Page</title>
</head>
<body style="text-align: center">
<div class="container" style="">

<div class="card" style="width: 18rem;font-family: 'Berlin Sans FB';float:right;">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn_2ve_B1Ltvmahl57NU5U6hHZ3CTVR95HmQ&usqp=CAU" alt="Card image cap" style="height: 150px">
    <div class="card-body">
        <h5 class="card-title">MOVIES</h5>
        <p class="card-text">to manage and see all the MOVIES we have</p>
        <a href="/movies" class="btn btn-primary">Go to MOVIES</a>
    </div>
</div>
<div class="card" style="width: 18rem; font-family: 'Berlin Sans FB';float:left;">
    <img class="card-img-top" src="https://i2.cnnturk.com/i/cnnturk/75/1200x0/5a254eb161361f08c81a7c20.jpg" alt="Card image cap" style="height: 150px">
    <div class="card-body">
        <h5 class="card-title">ARTISTS</h5>
        <p class="card-text">to manage and see all the ARTISTS we have</p>
        <a href="/artists" class="btn btn-primary">Go to ARTISTS</a>
    </div>
</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>