<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Title </th>
        <th> Release Year </th>
        <th> Genre </th>
        <th> Description </th>
        <th> Media </th>
        <th> Languages </th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="movie : ${movies}">
        <td><span th:text="${movie.id}"> ID </span></td>
        <td><span th:text="${movie.title}"> Title </span></td>
        <td><span th:text="${movie.releaseDate}"> Release Year </span></td>
        <td><span th:text="${movie.genre}"> Genre </span></td>
        <td><span th:text="${movie.description}"> Description </span></td>
        <td><span th:text="${movie.media}"> Media </span></td>
        <td><span th:text="${movie.languages}"> Languages Available </span></td>


    </tr>
    </tbody>
</table>
</body>
</html>