<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th> ID </th>
    <th> Full Name </th>
    <th> Role </th>


  </tr>
  </thead>
  <tbody>

  <tr th:each="artist : ${artists}">
    <td><span th:text="${artist.artId}"> ID </span></td>
    <td><span th:text="${artist.artFullName}"> Full Name </span></td>
    <td><span th:text="${artist.role}"> Role </span></td>



  </tr>
  </tbody>
</table>
</body>
</html>